* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  width: 100%;
  height: 70px;
  background-color: rgba(91, 180, 180, 0.622);
  border-bottom: 4px; }
  .contenedor .logo {
    height: 60px;
    padding-top: 2px;
    cursor: pointer;
    animation: float infinite 7s ease-in-out; }

@keyframes float {
  0% {
    transform: translatex(0); }
  50% {
    transform: translatex(-25px); }
  100% {
    transform: translatex(0); } }
  .contenedor .navegacion {
    width: 90%;
    margin: auto;
    padding: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .contenedor .navegacion ul li {
      list-style: none;
      display: inline-block;
      margin: 0 2px;
      position: relative; }
      .contenedor .navegacion ul li:before {
        content: "";
        height: 2px;
        width: 0%;
        background: white;
        position: absolute;
        left: 0;
        bottom: 1px;
        transition: 0.4s ease-out; }
      .contenedor .navegacion ul li:hover::before {
        width: 100%; }
      .contenedor .navegacion ul li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.997) !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2rem; }

body {
  background-color: rgba(0, 0, 0, 0.859); }

.contenedorUno {
  display: flex;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(rgba(49, 48, 48, 0.064), rgba(0, 0, 0, 0.853)), url(..//img/fondo4tay.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .contenedorUno .titulo {
    color: white;
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
    margin-left: 5px;
    padding-top: 300px; }
  .contenedorUno .parrafoPrincipal {
    color: white;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    margin-left: 5px; }

.contenedorDos {
  display: flex;
  padding: 10px; }
  .contenedorDos .contenedorInicio {
    flex-direction: 25%;
    padding: 10px;
    padding-left: 10px; }
  .contenedorDos .subtitulo {
    color: white;
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
    margin-top: 1px;
    text-align: center; }
  .contenedorDos .img {
    width: 64vh;
    height: 60%;
    border-radius: 5px 5px;
    margin: au; }
  .contenedorDos .img img {
    width: 100%;
    height: 100%; }
  .contenedorDos .contenedorInicio img {
    margin-top: 10px; }
  .contenedorDos .parrafoSecundario {
    color: white;
    font-size: 0.9rem;
    font-family: "Courier New", Courier, monospace;
    text-align: center; }

.contenedorTres {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto auto auto auto;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  object-fit: contain; }
  .contenedorTres .contenedorDisco {
    width: 64vh;
    height: 80vh;
    margin: 20px 2px; }
  .contenedorTres .img1 {
    width: 63vh;
    height: 70%;
    border-radius: 5px 5px; }
  .contenedorTres .img1 img {
    width: 100%;
    height: 100%; }
  .contenedorTres .parrafoSecundario {
    color: white;
    font-size: 0.9rem;
    font-family: "Courier New", Courier, monospace;
    text-align: center; }

.parrafoPie {
  color: white;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center; }

.logoPie {
  display: flex;
  align-items: center;
  justify-content: center; }

.logoDiscord {
  height: 100%; }

aside .titulo {
  color: white;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  margin-top: 12px;
  text-align: center; }

.tituloComunidad {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 300px;
  margin-left: 500px; }

.parrafoComunidad {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-left: 500px; }

.logoComunidad {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 500px; }

.parrafopieComunidad {
  padding-top: 400px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-left: 500px; }

.logoDos {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 650px; }

/*CELULAR */
@media (max-width: 768px) {
  .contenedor {
    width: 100%;
    height: 70px;
    background-color: rgba(91, 180, 180, 0.622);
    border-bottom: 4px; }
  .contenedor .logo {
    height: 60px;
    padding-top: 2px;
    padding-left: 60px;
    cursor: pointer; }
  @keyframes float {
    0% {
      transform: translatex(0); }
    50% {
      transform: translatex(0); }
    100% {
      transform: translatex(0); } }
  .contenedor .navegacion {
    width: 90%;
    margin: auto;
    padding: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .contenedor .navegacion ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    position: relative; }
  .contenedor .navegacion ul li:before {
    content: "";
    height: 2px;
    width: 0%;
    background: rgba(244, 244, 244, 0.786);
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 0.4s ease-out; }
  .contenedor .navegacion ul li:hover::before {
    width: 100%; }
  .contenedor .navegacion ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.997) !important;
    font-family: monospace;
    font-size: 1.1rem; }
  .contenedorUno {
    display: flex;
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgba(49, 48, 48, 0.064), rgba(0, 0, 0, 0.595)), url(..//img/fondo4tay.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .contenedorUno .titulo {
      color: white;
      font-size: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
      margin-left: 100px;
      padding-top: 200px; }
    .contenedorUno .parrafoPrincipal {
      color: white;
      font-size: 1rem;
      font-family: 'Courier New', Courier, monospace;
      margin-left: 100px; }
  .contenedorDos {
    display: flex;
    padding: 10px;
    flex-direction: column; }
    .contenedorDos .contenedorInicio {
      flex-direction: 15%;
      padding: 10px; }
    .contenedorDos .subtitulo {
      color: white;
      font-size: 1,2rem;
      font-family: 'Courier New', Courier, monospace;
      margin-top: 1px;
      text-align: center; }
    .contenedorDos .img {
      width: 100%;
      height: 350px;
      border-radius: 5px 5px;
      margin: auto; }
    .contenedorDos .img img {
      width: 50%;
      height: 50%; }
    .contenedorDos .parrafoSecundario {
      color: white;
      font-size: 0,9rem;
      font-family: 'Courier New', Courier, monospace;
      margin-top: auto;
      text-align: center; }
  .contenedorTres {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto;
    margin: 0 auto;
    padding: auto;
    object-fit: contain; }
    .contenedorTres .contenedorDisco {
      width: 100%;
      height: 500px;
      margin: 20px 2px;
      padding-top: 0; }
    .contenedorTres .img1 {
      width: 100%;
      height: 350px;
      border-radius: 5px 5px;
      padding-top: 55px; }
    .contenedorTres .img1 img {
      width: 50%;
      height: 50%; }
    .contenedorTres .parrafoSecundario {
      color: white;
      font-size: 0,9rem;
      font-family: 'Courier New', Courier, monospace;
      margin-top: auto;
      text-align: center; }
  .parrafoPie {
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; }
  .subtituloPie {
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; }
  .parrafoPie {
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; }
  .tituloComunidad {
    color: white;
    font-size: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 250px;
    margin-left: 100px; }
  .parrafoComunidad {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 100px; }
  .logoComunidad {
    margin-left: 100px; }
  .parrafopieComunidad {
    padding-top: 350px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    margin-left: 100px;
    text-align: center;
    font-size: 0.9rem; }
  .logoDos {
    margin-left: 100px; } }
