.tituloComunidad{
    color: $color-texto;
    font-size: 1.5rem;
    text-align: center;
    font-family: $tipografia-parrafos;
    margin-top: 300px;
    margin-left: 500px;
} .parrafoComunidad{
    color: $color-texto;
    font-size: 1rem;
    text-align: center;
    font-family: $tipografia-parrafos;
    margin-left: 500px;
}.logoComunidad{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 500px;
}