.parrafopieComunidad{
    padding-top: 400px;
    font-family: $tipografia-parrafos;
    color: $color-texto;
    margin-left: 500px;
}.logoDos{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 650px;
}