.parrafoPie{
    color: $color-texto;
    font-size: 1rem;
    font-family: $tipografia-parrafos;
    text-align: center;
} .logoPie{
    display: flex;
    align-items: center;
    justify-content: center;
}.logoDiscord{
    height: 100%;

}